/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: blue;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 20px;
  width: 100%;
}

.carousel img {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.welcome-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1DC74;
  padding: 10px;
  height: 1cm;
}

.welcome-box img, .welcome-box h5 {
  margin: 0 5px;
}


input[type="text"] {
  margin-left: 0px;
}

.links-container {
  text-align: center;
  margin-top: 10px;
}

.links-container a {
  margin: 10px 10px -5px 10px;
  text-decoration: none;
  color: #000;
}

footer {
  background-color: green;
  height: 2cm;
  display: flex;
  align-items: center;
  justify-content: center;
}    

header {
  background-color: #909C10;
  color: white;
  padding: 20px;
  padding-left: 80px;
  text-align: 40px;
  height: 1cm;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-bottom: 21;
  text-align: left;
}

header input[type="text"] {
  width: 50%;
  margin-left: 20px;
  height: 25px;
  border-radius: 10px;
  border: none; 
  padding: 5px 10px 5px; 
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: pink;
  text-align: center;
  padding: 20px;
}

.login-box {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  background-color: #5E8CB0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: stretch;
  z-index: 999;
}

.login-form {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.login-form button:hover {
  background-color: red;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  font-weight: bold;
  font-size: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.social-login button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 80%;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.social-login button img {
  margin-right: 15px;
}

.social-login button:hover {
  background-color: rgb(0, 183, 255);
}

.welcome-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1DC74;
  padding: 10px;
}

.welcome-box h5 {
  color: black;
  margin: 1%;
}

.welcome-box img {
  width: 30px;
  height: auto;
  padding: -1px 25px 0px 25px;
}

.welcome-box input[type="text"] {
  margin-left: 1px;
  display: block;
  padding: 15px;
  width: 20%;
  border-radius: 50px;
}

.welcome-box a {
  margin-left: 20px;
}

.carrito-link {
  margin-left: auto;
  padding: 0px 150px 0px 0px;
  border-radius: 50%;
  color: blue;
  text-decoration: none;
}

.links-container {
  margin-top: 0px;
  background-color: white;
  text-align: left;
}

.links-container a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#enlace-home {
  padding-left: 70px;
}

.links-container a:hover {
  background-color: #5E8CB0;
}

img {
  width: 15%;
  height: auto;
  max-width: 50vh;
  max-height: 65vh;
  object-fit: cover;
}

#image-grid {
  margin-top: 20px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-cuadrada {
  width: 200px;
  height: 200px;
  margin: 5px;
}
